body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
}

canvas {
  cursor: none;
}

.text{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  max-width: 50%;
  padding: 2em 3em;
  background: rgba(0, 0, 0, .4);
  font-family: 'Karla', sans-serif;
  /* white-space: nowrap; */
}

h1{
  font-size: 5vh;
  font-weight: 700;
  letter-spacing: 2px;

}
p{
  font-size: 3vh;
  font-weight: 300;
}

a{
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
a:visited{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: underline;
  color: rgb(75, 183, 255);
}