body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

.wrapper{
  background-color: transparent;
  height: 90vh;
  padding: 1.2em;
  font-size: 3vh;
  color: #000;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.profile img{
  width: 30vh;
}
.bio a{
  color: rgb(0, 123, 255);
  text-decoration: none;
}
.bio a:hover{
  text-decoration: underline;
  transition:500ms;
}

#contact{
  padding:5px ;
  color: rgb(0, 123,255);
  text-decoration: none;
}
#contact:hover{
  color: rgb(0, 0, 0);
}
