body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #000;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}

.wrapper{
  background-color: transparent;
  height: 90vh;
  padding: 1.2em;
  font-size: 3vh;
  /* Imp */
  /* color: #000; */
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.profile img{
  width: 30vh;
}
.bio a{
  color: rgb(0, 123, 255);
  text-decoration: none;
}
.bio a:hover{
  text-decoration: underline;
  transition:500ms;
}

#contact{
  padding:5px ;
  color: rgb(0, 123,255);
  text-decoration: none;
}
#contact:hover{
  color: rgb(57, 152, 253);
}

.toggle-theme{
  background-color: #222;
  color: #fff;
}
.toggleBtn{
  background-color: #333;
  color: #fff;
  border-radius: 20%;
  padding: 10px;
  /* height: 50px;
  width: 50px; */
}
.themeBtn{
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.btn {
  background-color: transparent;
  border: 2px rgb(0, 123, 255) solid;
  padding: 10px;
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;;
  font-weight: 600;
  color: rgb(0, 123, 255);
  border-radius: 8px;
  letter-spacing: 2px;
  cursor: pointer;
}
.btn:hover{
  color: #fff;
  background-color: rgb(0, 123, 255);
  transition: all .5s ease-out;
}