body{
  font-family: 'Karla', sans-serif;
  margin: 0;
  /* margin-top: 80px; */
  /* background-image: url("images/body-background.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
}
#section{
  margin-top: 100px;
  /* max-width: 880px; */
}
.wrapper{
  /* position: absoulte; */
  /* background-color: cyan; */
  margin: 0 auto;
  max-width: 880px;
  padding: 1.2em;
  font-size: 3vh;
  color: rgb(255, 255, 255);
}
.about{
  /* background-color: blueviolet; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.profile img{
  width: 30vh;
}
.bio a{
  color: rgb(75, 183, 255);
  text-decoration: none;
}
.bio a:hover{
  text-decoration: underline;
  transition: 300ms;
}

.contact a{
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 20px;
}
.contact a:hover{
  color: rgb(75, 183, 255);
}

/* .theme-btn{
  background-color:  #444;
  color: #111;
  padding: 8px 8px;
  border-radius: 5px;
  border: 0px;
}
#theme-btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.day-mode ~ #particles-js{
  background-color: #fff;
} */