body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.heading-container{
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  /* margin: auto; */
  /* text-align: center; */
}
/* Change it to intro-col later */

.col-sm p{
  font-size: 24px;
}
.col-profile-img{
  text-align: center;
}
#contact-icons{
  margin:5px;
}
#skills-content{
  font-size: 18px;
  font-weight: 700;
}

.col-sub{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-sub img{
  width: 40px;
  margin: 10px;
}
.col-sub:hover{
  background-color: #eee;
}
.projects-container{

  margin: 80px;
  text-align: center;
}

.project-card{
  margin: 10px;
}
.card-body:hover{
  background-color: rgb(245, 245, 245);
}
.blog-sol{
  /* border: #111 solid; */
  margin: 10px;
}
.blog-sol img{
  border-radius: 15px;
  /* border: #111 solid; */
  box-shadow: rgb(156, 187, 255) 1px 1px 30px;
}
.blog-sol p{
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}


/* Media Queries */
@media screen and (max-width:564px) {
  .heading-container{
      height: auto;
      padding: 10px;
  }
}
